<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Finder</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/go.css?after">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/finder.js?after"></script>
<script type="text/javascript">

</script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/"><img src='../static/img/GO.png'></a>
		<div class="box">
	        <form action="show" method="post">{% csrf_token %}
	        	<input type="hidden" name = "products" value = "{{products}}"/>
	        	<input type="hidden" name = "searchLoc" value = "{{loc}}"/>
	            <input type="text" class="input" name="searchInput" id="searchInput">

	        </form>
	        <i class="fas fa-search"></i>
	    </div>
	</div>
</nav>
<div class="container rounded-4 shadow p-4">
	<div class="row p-4">
		<div class="col text-center ">
			<h1><strong>{{irum}}</strong></h1>
		</div>
	</div>
	<div class="row pt-4">
	
		<h3>연관상품</h3>
		{% for i in reco %}
       	
            <form class="form col" action="show" name="frm" method="post">{% csrf_token %}
           	 	<input type="hidden" name="searchInput" id="searchInput" value="{{i}}" readonly/>
           	 	<input type="hidden" name = "products" value = "{{products}}"/>
    	 	    <input type="hidden" name = "g_products" value = "{{g_products}}"/>
                <input type="hidden" name = "f_products" value = "{{f_products}}"/>
                <input type="hidden" name = "tot" value = "{{tot}}"/>
                <input type="hidden" name = "g_tot" value = "{{g_tot}}"/>
                <input type="hidden" name = "f_tot" value = "{{f_tot}}"/>
                <input type="hidden" name = "searchLoc" value = "{{loc}}"/>
           	 	<button type="submit" class="btn btn-outline-dark mb-2 btn-lg"># {{i}}</button>
           	 </form> 
        
        {% endfor %}
     
	</div>
	<div class="row">
    	<hr/>
        <div class="col-md-9">
			<div class="row item">
				<table class="table table-hover p-4 rounded-4 shadow">
					<thead>
						<tr>
							<th style="width: 15%">지역</th>
							<th style="width: 25%">마트이름</th>
							<th style="width: 40%">제품명</th>
							<th style="width: 25%">가격</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% for df in dfl %}
						<tr>
							<!-- <form action="basket" name="frm2" method="get" onsubmit="return chk()"> --> <!-- onsubmit = "return confirm('장바구니 페이지로 이동하시겠습니까?');" -->
							<td>{{df.0}}</td>
							<td>{{df.2}}</td>
							<td>{{df.4}}</td>
							<td>{{df.5}}</td>
							<!-- <td><button class="btn btn-primary" type="button">담기</button></td> -->
							<!-- <td><input class="btn btn-primary" type="submit" value="담기" ></td> -->
							<td>
								<form action="basket" name="frm2" method="post" onsubmit="return chk()">{% csrf_token %} <!-- target="if" -->
									<input type="hidden" name="name" id="name" value="{{df.4}}" readonly/>
									<input type="hidden" name="price" id="price" value="{{df.5}}" readonly/>
									<input class="btn btn-outline-dark" type="submit" value="담기" >
								</form>						
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-3 p-4">
			<div class="row sticky rounded-4 shadow p-4 pb-4">
				<div class="basket">
					<h3>장바구니</h3>
					  <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>상품명</th>
		                        <th>가격</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if products %}
                            {% for pro in products %}
                            <tr>
                                <td>{{pro.name}}</td>
                                <td>{{pro.price}}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                                <tr>
                                    <td colspan="2">구매 상품 없음</td>
                                </tr>
                        {% endif %}
                        </tbody>
                    </table>
                  
				</div>
				<div class="order">                    
					<form action="receipt" method="post">{% csrf_token %}
	                    <input type="hidden" name = "products" value = "{{products}}"/>
	                    <input type="hidden" name = "g_products" value = "{{g_products}}"/>
	                    <input type="hidden" name = "f_products" value = "{{f_products}}"/>
	                    <input type="hidden" name = "tot" value = "{{tot}}"/>
	                    <input type="hidden" name = "g_tot" value = "{{g_tot}}"/>
	                    <input type="hidden" name = "f_tot" value = "{{f_tot}}"/>
	                    <button class="w-100 mb-2 btn btn-lg btn-outline-dark rounded-3" type="submit">비교하기</button>
	               </form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>