<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>장바구니GO</title>
<!--favicon-->
<link rel="shortcut icon" href="../static/favi/favicon.ico"> 
<link rel="apple-touch-icon" sizes="57x57" href="../static/favi/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../static/favi/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../static/favi/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../static/favi/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../static/favi/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../static/favi/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../static/favi/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../static/favi/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../static/favi/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../static/favi/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/favi/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../static/favi/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/favi/favicon-16x16.png">
<link rel="manifest" href="../static/favi/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../static/favi/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/go.css?after">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/finder.js"></script>

</head>
<body>
	<div class="main text-center">
		<h1><strong>장바구니</strong><img src='../static/img/GO.png'></h1>
	</div>
	<div class="center">
        <form action="show" method="post">{% csrf_token %}
            <input type="text" class="input" name="searchInput" id="searchInput"
            onmouseout="document.search.txt.value = ''">
        </form>
        <i class="fas fa-search"></i>
    </div>
</body>
</html>