<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O' Market</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
	<div class="center">
		<form action="show" method="get">
			<h1><strong>O' Market</strong></h1>
			검색어<input id="searchInput" name="searchInput" value="searchInput">
			 <!--
			<select id="itemSelect" name="itemSelect">
				<option value="0" selected="selected">제품군 선택</option>
				
				{% for i in item %}
				<option value="{{i}}">{{i}}</option>
				{% endfor %}
			   
			</select>
			
			<select id="itemSelect" name="itemSelect">
			   <option value="0">제품 선택</option>
			   <option value="sin_raman" class="item_raman">신라면</option>
			   <option value="jin_raman" class="item_raman">진라면</option>
			   <option value="jeju_samdasu" class="item_water">제주 삼다수</option>
			   <option value="None" class="item_tissue">아직 없음</option>
			</select>
			 -->
			<button class="btn btn-primary" type="submit">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
				<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
				</svg>
			</button>
		</form>
	</div>
	
</body>
</html>