<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O' Market</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        body{background-color:  rgba(247, 247, 247);}
        h1{text-align: center; margin-bottom: 50px;}
        .center{position: absolute; top: 45%; left: 50%; transform: translate(-50%,-50%);}
        input{ height: 3.8em; width: 400px; outline: none; padding: 0 10px; box-shadow: 3px 3px 10px #566270; border: none; color: #4F86C6;}
        ::placeholder {color: #84B1ED;}
    </style> 
</head>
<body>
    <div class="center">
            <h1><strong>O' Market</strong></h1>
            <input type="text" placeholder="Search..."/>
    </div>
</body>
</html>