<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/finder.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Eighth navbar example">
		<div class="container">
			<a class="navbar-brand" href="#">O' Market</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExample07">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Link</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled">Disabled</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
    <div class="container">
        <div class="row a"></div>
        <div class="row a">
            <div class="col-md-4"></div>
            <div class="col-md-4">
            	<h1><strong>라면>신라면</strong></h1>
            </div>
            <div class="col-md-4"></div>
        </div>	
        <div class="row items">
        	<div class="col-md-9">
        		<div class='row'>
        			<div class="col-md-5">
        				<svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" fill="currentColor" class="bi bi-box" viewBox="0 0 16 16">
		                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
		                </svg>
        			</div>
        			<div class="col-md-7">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan='2'>유통업체</th>
                                    <th>품목명</th>
                                    <th>제품명</th>
                                    <th>가격</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>일반 슈퍼마켓</td>
                                    <td>지씨마트</td>
                                    <td>라면</td>
                                    <td>[농심]신라면</td>
                                    <td>4140원</td>
                                </tr>
                                <tr>
                                    <td>온라인 쇼핑몰</td>
                                    <td>쿠팡</td>
                                    <td>라면</td>
                                    <td>[농심]신라면</td>
                                    <td>4200원</td>
                                </tr>
                            </tbody>
                        </table>
        			</div>
        		</div>
        	</div>
            <div class="col-md-3">
                <div class="row sticky">
                    <div class="basket">
                        <h3>Basket</h3>
                    </div>
                    <div class="order">
						<h5>Order</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>