<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<style>body {margin-top: 100px;}</style>
</head>
<body>
    <div class="container ">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 bg-light text-dark">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <strong>홈플러스익스프레스</strong>
                            <br>
                            서울시 종로구
                            <br>
                            무슨동
                            <br>
                            <p title="Delivery">Delivery:To Walk</p> 
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>Order Date: 2022. 6. 2.</em>
                        </p>
                        <p>
                            <em>Receipt #: 34522677</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <h1>Receipt</h1>
                    </div>
                    </span>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>#</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em>신라면 5개입</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 2 </td>
                                <td class="col-md-1 text-center">4,000</td>
                                <td class="col-md-1 text-center">8,000</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>햇반</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 1 </td>
                                <td class="col-md-1 text-center">1,500</td>
                                <td class="col-md-1 text-center">1,500</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>스팸</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 3 </td>
                                <td class="col-md-1 text-center">3,600</td>
                                <td class="col-md-1 text-center">10,800</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                <p>
                                    <strong>Subtotal:</strong>
                                </p>
                                <p>
                                    <strong>배송비:</strong>
                                </p></td>
                                <td class="text-center">
                                <p>
                                    <strong>20,300</strong>
                                </p>
                                <p>
                                    <strong>0</strong>
                                </p></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right"><h4><strong>Total:</strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>20,300</strong></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success btn-lg btn-block">
                        Buy Now<span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 bg-light text-dark">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <strong>쿠팡</strong>
                            <br>
                            서울시 종로구
                            <br>
                            무슨동
                            <br>
                            <p title="Delivery">Delivery : 로켓배송</p> 
                        </address>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <p>
                            <em>Order Date: 2022. 6. 2.</em>
                        </p>
                        <p>
                            <em>Receipt #: 34522677</em>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <h1>Receipt</h1>
                    </div>
                    </span>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>#</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em>신라면 5개입</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 2 </td>
                                <td class="col-md-1 text-center">4,000</td>
                                <td class="col-md-1 text-center">8,000</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>햇반</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 1 </td>
                                <td class="col-md-1 text-center">1,500</td>
                                <td class="col-md-1 text-center">1,500</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>스팸</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 3 </td>
                                <td class="col-md-1 text-center">3,600</td>
                                <td class="col-md-1 text-center">10,800</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                <p>
                                    <strong>Subtotal:</strong>
                                </p>
                                <p>
                                    <strong>배송비:</strong>
                                </p></td>
                                <td class="text-center">
                                <p>
                                    <strong>20,300</strong>
                                </p>
                                <p>
                                    <strong>0</strong>
                                </p></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-right"><h4><strong>Total:</strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>20,300</strong></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        Buy Now<span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>       
    </div>
</body>
</html>