@charset "UTF-8";
body {background-color:rgba(247, 247, 247);}
img {width :30%;height:30%;}
.a{
	height:2rem; 
	margin-bottom:1rem;
}
.sticky{
	position: sticky; 
	background-color: rgba(250, 250, 250); 
	width: 100%; 
	height: 475px; 
	top: 270px; 
	border-radius: 10px 20px 30px 40px;
}
.basket{height: 325px;}
.order{height: 150px;}
.choice{height: auto;}
.main{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.receipt{
	margin:100px auto auto;
    border:1px solid black;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 70px;
    height: 70px;
    background: none;
    border: 4px solid #000000;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #000000;
    background-color: rgba(250, 250, 250);
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 300px;
    border-radius: 10px;
}
i{
    position: absolute;
    top: 50%;
    right: -6.5px;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #000000;
    transition: .2s;
    background-color: rgba(250, 250, 250);
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}
.center:hover input{
    width: 300px;
    border-radius: 10px;
}

.center:hover i{
    opacity: 0;
    z-index: -1;
}